<div class="auth">
  <div class="auth__card">
    <h1 class="auth__title">Reset password</h1>

    <% if flash[:alert].present? %>
      <div class="auth__flash auth__flash--alert"><%= flash[:alert] %></div>
    <% end %>

    <%= form_with url: passwords_path, class: "auth__form" do |form| %>
      <div class="auth__field">
        <%= form.label :email_address, "Email", class: "auth__label" %>
        <%= form.email_field :email_address,
          required: true,
          autofocus: true,
          autocomplete: "username",
          placeholder: "Email address",
          class: "auth__input" %>
      </div>

      <div class="auth__actions">
        <%= form.submit "Email reset instructions", class: "auth__button" %>
      </div>
    <% end %>

    <div class="auth__links">
      <%= link_to "Back to sign in", new_session_path %>
    </div>
  </div>
</div>
